/* General Styles */
#searchForm {
  background: rgb(255, 255, 100);
  padding: 2rem;
}

/* Grid Styles */
.songGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10rem 20rem;
}